<?php

/**
 *
 * Available elements in $info :
 *
 * MainDisplayCategory
 * SubDisplayCategory
 * DisplayName
 * ProductName
 * DescriptionText
 * HelpText
 *
 *
 */


if (!$this->isTooltipActive()) {
   // Tooltip is not active. Don't display anything
   return;
}

?>

<script type="text/javascript">
  var bring = {
    tooltips: [],
    enableTooltips: function() {
      this.tooltips.forEach(function(tooltip) {
        tooltip();
      });
    }
  };
</script>

<?php foreach ($this->getTooltips() as $method => $info): ?>

<div id="<?php echo $method; ?>" style="display:none" class="bring_tooltip">
  <strong><?php echo $info['MainDisplayCategory']; ?></strong><br />
  <?php echo $info['ProductName'].(empty($info['SubDisplayCategory']) ? '' : ': '.$info['SubDisplayCategory']); ?><br />
  <strong>Info:</strong><br />
  <?php echo $info['HelpText']; ?><br />
</div>
<script type="text/javascript">
  if ($('s_method_<?php echo $method; ?>') != null) {
    bring.tooltips.push(function() {
      new Tooltip($('s_method_<?php echo $method; ?>').up(), '<?php echo $method; ?>');
    });
  }
</script>

<?php endforeach;?>

<script type="text/javascript">
  var shipmentMethods = $$(".shipment-methods");

  if (shipmentMethods.length === 0) {
    shipmentMethods = $$(".sp-methods");
  }

  if (shipmentMethods.length > 0) {
    shipmentMethods.first().up().observe("DOMNodeInserted", function(e) {
      bring.enableTooltips();
    });
  }
  bring.enableTooltips();
</script>
